body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.form_wrapper {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 40px 20px;
  margin-top: 150px;
}

.form_input {
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
  min-width: 250px;
  color: grey;
}

.form_input:focus {
  outline: none;
}

.input_label {
  color: grey;
}

.large-button {
  border: none;
  background-color: rgb(29, 161, 242);
  color: white;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 200px;
  cursor: pointer;
  margin: 0 auto;
}

.brand_image_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.brand_image {
  width: 150px;
}

.mb-8 {
  margin-bottom: 8px;
}

.center_btn_wrapper {
  display: flex;
  justify-content: center;
}

.menu_wrapper {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu_icon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.link_menu {
  text-decoration: none;
  color: black;
}

.menu_wrapper_active {
  background-color: lightskyblue;
}

.main_content {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.cms_wrapper {
  display: flex;
  padding-top: 20px;
}

.logout_wrapper {
  display: flex;
}

.mb-3 {
  margin-bottom: 3px;
}

.logout_menu {
  text-decoration: none;
  margin-bottom: 0;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logout_text {
  color: rgb(215, 50, 50);
  font-size: 14px;
  margin: 0;
  margin-right: 8px;
}

.create_btn {
  margin-left: auto;
  margin-left: 0;
}

/* From w3schools */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* --------------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wrapper {
  opacity: 1;
  background-color: white;
  height: auto;
  border-radius: 5px;
  padding: 40px 20px;
}

.close_button {
  text-align: end;
  color: red;
  margin-top: 0;
  margin-bottom: 0px;
  cursor: pointer;
}

.bc-red {
  background-color: red;
}

.bc-green {
  background-color: green;
}

.small-text {
  font-size: 12px;
}

.select_input {
  font-size: 16px;
  width: 100px;
}

td {
  text-transform: capitalize;
}

.color_input {
  width: 250px;
}

.color_circle {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
}

.ucase {
  text-transform: uppercase;
}

.member {
  background-color: lightsalmon;
  margin-bottom: 3px;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}

.remove_member_button {
  color: red;
  font-weight: bolder;
  cursor: pointer;
}

.top_bar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bn {
  border: none;
}

.bw {
  background-color: white;
}

.calendar_wrapper {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.calendar_box {
  flex-basis: calc(100%/7);
  height: 90px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
}

.day_info_box {
  flex-basis: calc(100%/7);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
}

.appointment_list {
  width: 100%;
  margin: 0px 2px 0px 2px;
  padding: 0;
  /* padding-left: 10px; */
}

.appointment_name {
}

.print_icon {
  width:28px;
  height: 28px;
  cursor: pointer;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.change_month_arrow {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

#month {
  min-width: 200px;
  text-align: center;
}


.hidden {
  display: none;
}

.select_file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_export {
  border: 1px solid green;
  color: green;
  padding: 3px 8px 5px 8px;
  border-radius: 20px;
  margin-left: 15px;
  font-style: 16px;
  cursor: pointer;
}

.span_import {
  border: 1px solid green;
  color: green;
  padding: 3px 8px 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 5px;
  font-style: 16px;
  cursor: pointer;
}