body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form_wrapper {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 40px 20px;
  margin-top: 200px;
}

.large-button:focus {
  outline: none;
}

.signin_button_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.signup_fp_wrapper {
  display: flex;
  justify-content: space-between;
}

.page_link {
  color: rgb(29, 161, 242);
  font-size: 12px;
  cursor: pointer;
}
